<h1>
  <i class="fa fa-diamond" aria-hidden="true"></i>
  Hi it's Haythem! Welcome to my work!
  <i class="fa fa-diamond" aria-hidden="true"></i>
</h1>
<h1>Couleur 1:</h1>
<div [style.color]="couleur" (mouseenter)="changecolor1()" (mouseleave)="changecolor2()"  class="alert alert-primary" role="alert" align="center">
  You like red color? Put the mouse here !
</div>
<app-second></app-second>
<app-color></app-color>
<app-somme></app-somme>
<app-somme2 [x]="10" [y]="20"></app-somme2>
<app-first></app-first>
